<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="fourthTable">
        <div>Total Records</div>
        <div>{{totalRecords}}</div>
        <table>
            <thead>
                <tr>
                    <th v-for="col in columns" v-on:click="sortTable(col)">{{col[1]}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows">
                    <td v-for="col in columns">{{row[col[0]]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>