table {
    font-family: 'Open Sans', sans-serif;
    /* width: 750px; */
    border-collapse: collapse;
    border: 3px solid #44475C;
    margin: 10px 10px 0 10px;
}

table th {
    /* text-transform: uppercase; */
    text-align: left;
    background: #44475C;
    color: #FFF;
    cursor: pointer;
    padding: 8px;
    min-width: 30px;
}

table th:hover {
    background: #717699;
}

table td {
    text-align: left;
    padding: 8px;
    border-right: 1px solid #7D82A8;
    border-bottom: 1px solid #7D82A8;
}

table td:last-child {
    border-right: none;
}

div {
    text-align: left;
}