div.exportButton {
    // float: right;
    margin-right: 250px;
}

div.titleBar {
    text-align: left;
    background-color: lightgray;
    padding-left: 50px;
}

.inlineBlock {
    display: inline-block;
}