body {
    font-size: 16px;
    overflow: hidden;
}

.uipath-logo {
    width: 272px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', 'Calibri', Arial, sans-serif;
    text-align: center;
    z-index: 99;
}

.main-title {
    font-size: 2.1em;
    font-weight: 400;
    /* margin-bottom: 4px; */
}

.sub-title {
    font-size: .9em;
    color: rgb(65, 65, 65);
}

.container {
    width: 360px;
    background-color: white;
    z-index: 99;
}

.input-block {
    text-align: left;
    margin-top: 28px;
}

.output-block {
    text-align: center;
    display: inline-block;
    align-items: center;
    margin-top: 16px;
    /* flex-direction: column; */
}

.name-container {
    display: flex;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 4px;
    box-shadow: 2px 2px rgb(220, 220, 220);
    width: 336px;
    /* margin-left: 28px; */
    padding: 12px;
    align-items: center;
    text-align: left;
}

.output-block-title {
    font-size: .96em;
    font-weight: 600;
    color: rgb(65, 65, 65);
    margin-bottom: 4px;
}

.output-text {
    color: rgb(0, 75, 255);
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 700;
}

.lbl-orig {
    display: inline-block;
    width: 56px;
}

.lbl-orig-values {
    font-size: .88em;
    color: rgb(90, 90, 90);
    margin-top: 4px;
}

.unicorn-spinner {
    width: 42px;
    height: 60px;
    margin: auto 16px auto 16px;
}

.button-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.submit-button {
    background-color: rgb(0, 75, 255);
    color: white;
    height: 44px;
    width: 180px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: none;
    border: 0;
    font-weight: 500;
    font-size: 1em;
}

.submit-button:focus {
    outline: 0;
    border: 3px solid rgb(16, 65, 170);
}

.submit-button:active {
    outline: 0;
}

.disabled-button:focus,
.disabled-button {
    color: rgb(120, 120, 120);
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(120, 120, 120);
    font-weight: 400;
}

.text-input {
    width: 350px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid darkgray;
    height: 24px;
    margin-top: 4px;
    font-size: 1em;
    font-family: 'Roboto', Arial, sans-serif;
    vertical-align: middle;
}

.text-input:focus {
    border: 1px solid black;
}

.label {
    font-weight: 500;
    color: rgb(65, 65, 65);
    font-size: .95em;
}

.label-error {
    font-size: .8em;
    color: darkred;
    margin-top: 4px;
    padding-left: 4px;
}

.hidden {
    visibility: hidden;
}

select::-ms-expand {
    display: none;
}

select {
    width: 356px;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid darkgray;
    margin-top: 4px;
    font-size: 1em;
    background-color: white;
    /* you should keep these firsts rules in place to maintain cross-browser behaviour */
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('./images/down-chevron.svg');
    background-position: 98% center;
    background-repeat: no-repeat;
    outline: none;
}

select:focus::-ms-value {
    background-color: transparent;
    color: black;
    /* color: rgb(120, 120, 120); */
}

select:focus {
    border: 1px solid black;
}

select:invalid {
    color: rgb(120, 120, 120);
}

option {
    color: black;
}

.spin {
    animation: rotate-spinner .3s;
}

@keyframes rotate-spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}