$font-families: 'Roboto',
'Open Sans',
sans-serif;
$header-background: rgb(235, 235, 234);
$left-report-padding: 10px;
$container-border-radius: 0px;
$page-background-color: rgb(124, 166, 221);
$right-table-padding: 100px;
$icon-color: rgb(250, 70, 22); //rgb(26, 92, 153); //rgb(20, 173, 122);
$lighter-blue: rgb(21, 137, 238);
$button-color: $icon-color;
$option-container-top-padding: 4px;
$option-container-right-padding: 4px;
$export-header-color: rgb(124, 124, 124);
$export-header-border-color: rgb(185, 185, 185);