@import './constants.scss';
$icon-size: 28px;
$export-btn-width: 88px;
$export-btn-height: 36px;
button {
    font-family: $font-families;
    // font-size: 1.05em;
}

button.export-shape-props {
    border-radius: 0px;
    border-style: solid;
    cursor: pointer;
}

button.export-common {
    @extend button.export-shape-props;
    background-color: $button-color;
    border-color: $button-color;
    color: white;
}

button.btn-export {
    @extend button.export-common;
    margin-left: auto;
    margin-right: $right-table-padding - $left-report-padding;
    height: $export-btn-height;
    width: $export-btn-width;
    font-size: 1.05em;
}